/*---------------------------------------------------------------------------*/
/*Defuat styles*/

html{
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: White;
}

body{
  margin: 0;
}

/*---------------------------------------------------------------------------*/
/*Main styles*/

h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

h2{
  font-size: 1rem;
  font-weight: bold;
}

.container{
  /*Changed to max width so its no bigger but may reduce*/
  max-width: 960px;
  margin: 0 auto;
}

.textBox{
  background-color: Black;
}

/*---------------------------------------------------------------------------*/
/*Header styles*/
header{
  background-color: Black;
  font-size: 1rem;
}

/*Company header*/
.company.container{
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.company img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem
}

/*Main Banner*/
.banner{
  background-image: url("./../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.banner .textBox{
  width: 20rem;
  padding: 2rem 3rem;
  /*set the position of the box with the use of relative and top distance*/
  position: relative;
  top: 9rem;

}

/*Navigation*/
nav{
  background-color: Firebrick;
}

ul{
  display: flex;
  /*Align-items so that they are centre verticaly aswell*/
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

/*---------------------------------------------------------------------------*/
/*Content styles*/
.products,
.store{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/*Products*/
.product{
  border: 4px solid Black;
  width: 30%;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
}

.product img{
  /*As the images overflow due to size max width has been set (glasses width is
  greater than height). If we take the width of the container to be similar to
  the height then width can be no larger than height therefore maxwidth will be
  set to 9rem*/
  max-width: 9rem;
  padding: 2rem 0;
}

.productName{
  text-align: center;
  padding: 0.5rem 0;
}

/*Store Info*/
.info{
  width: 35%;
}

.info .textBox{
  padding: 1rem 0 1rem 2rem;
}

.info span{
  color: Black;
}

/*---------------------------------------------------------------------------*/
/*Footer styles*/

footer{
  background-color: Black;
  /*The spec states 5rem height but does not corrospond to the final product
  shown. therefore the height will be commented out and will be replaced with
  padding of 5rem top and bottom note as stated but as illistrated*/
  /*height: 5rem;*/
  padding: 5rem 0;
  margin-top: 4rem;
}
